@{
    ViewData["Title"] = "Index";
}

<script>
function MostrarTemporadas(IdS) {
    $.ajax({
        type: 'POST',
        dataType: 'JSON',
        url: '/Home/Ver', //DetalleTemporadas
        data: { IdSerie: IdS },
        success: function (response) {
            for (const temporada of response) {
                $("#")/*ID del div titulo temporada*/.html(temporada.TituloTemporada);
                $("#")/*ID del div numero temporada*/.html(temporada.NumeroTemporada);
            }
        }
    });
}

function MostrarActores(IdS) {
    $.ajax({
        type: 'POST',
        dataType: 'JSON',
        url: '/Home/', //DetalleActores
        data: { IdSerie: IdS },
        success: function (response) {
            for (const actor of response) {
                $("#")/*ID del div Nombre actor*/.html(actor.Nombre);
            }
        }
    });
}


</script>

<h1>TP 10 - Index</h1>